@model PaginatedList<Product>




        @{
            if (Model != null && Model != null && Model.Count > 0)
            {

                <section class="py-5">
                    <div class="container px-4 px-lg-5 mt-5">
                        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
                            @{ for (int i = 0; i < Model.Count; ++i)
                                {


                                    <div class="col mb-5">
                                        <div class="card h-100">
                                            <!-- Product image-->
                                            <img class="card-img-top" src="@Model[i].ImageSource" />
                                            <!-- Product details-->
                                            <div class="card-body p-4">
                                                <div class="text-center">
                                                    <!-- Product name-->
                                                    <h5 class="fw-bolder">@Model[i].Name</h5>
                                                    <h6 class="fw-bolder">@Model[i].Category</h6>
                                                    <!-- Product price-->
                                                    @Model[i].Price Kč
                                                </div>
                                            </div>
                                            <!-- Product actions-->
                                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                                <div class="text-center"><a class="btn btn-outline-dark mt-auto" asp-controller="Product" asp-action="Detail" asp-route-ID="@Model[i].ID">View options</a></div>
                                            </div>
                                        </div>
                                    </div>

                                }

                            }

                        </div>
                    </div>

                </section>
            }

        }

        @{
            if (Model != null && Model != null && Model.Count > 0)
            {
                string currentCategory = Model[0].Category;

                var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
                var nextDisabled = !Model.HasNextPage ? "disabled" : "";


                <a asp-controller="ProductsPage"
                   asp-action="Category"
                   asp-route-Category=@currentCategory
                   asp-route-currentCategory=@currentCategory
                   asp-route-pageNumber="@(Model.PageIndex - 1)"
                   class="btn btn-default @prevDisabled">
                    Previous
                </a>

                <a asp-controller="ProductsPage"
                   asp-action="Category"
                   asp-route-Category=@currentCategory
                   asp-route-currentCategory=@currentCategory
                   asp-route-pageNumber="@(Model.PageIndex + 1)"
                   class="btn btn-default @nextDisabled">
                    Next
                </a>
            }
        }

